body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.inputFormCol {
  margin-top: 5rem;
  max-width: 50%;
  padding: 2rem 5rem 2rem 0rem;
  border-radius: 1%;
  background-color: white;
}

.ant-form-item-label {
  background-color: white;
}

.ant-form-item-control-input-content {
  background-color: white;
}

.inputHeader {
  text-align: center;
  margin-left: 4rem;
}

.ant-row {
  background-color: #d9d9d9;
}

.ant-form-item {
  background-color: white;
}
